/*_____________________________first website________________________ */

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');

body{
    font-family: 'Podkova', serif;
}

/* ---top section style---
------------------------- */
.top-div{
    display: flex;
    width: 1100px;
    height: 500px;
    background: #161616;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 130px;
    color:  #FFFFFF;
}
.top-info{
    width: 400px;
    height: 320px;
    margin-left: 120px;
    margin-top: 80px;
}
.top-info h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
}
.top-info p{
    transition: font-size 3s;
}
.top-info p:hover{
    margin-top: 0;
    font-size: 20px;
}
.live-button a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}
.live-button{
    width: 160px;
    height: 40px;
    border: none;
    background: #DD0000;
    border-radius: 8px; 
    transition:  width 2s, height 2s;
}
.live-button:hover{
    width: 200px;
    height: 70px;
}
.greaterThan-icon{
    font-size: 17px;
    margin-left: 5px;
}
.top-banner img{
    width: 450px;
    height: 450px;
    margin-top: 50px;
    margin-left: 50px;
}
/* -------------matches section style--------
---------------------------------------------- */
.all-matches{
    display: flex; 
}
.matches-option{
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 135px;
    background-color: black;
    border-radius: 10px;
}
.three-button a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.three-button{
    background-color: white;
    width: 200px;
    height: 60px;
    margin: 18px 15px 0px 25px;
    border-radius: 10px;
}
.red-button{
    background-color: #ca0000;
}
.red-button a{
    color: white;
}
/*-------------- 9 matches div style----------
---------------------------------------------- */
.matches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 850px;
    height: 950px;
    margin-top: 50px;
    margin-left: 20px;
}
.match{
    border: 1px solid rgb(225, 225, 237);
    width: 250px;
    height: 300px;
}
.match img{
    width: 100%;
}
.transfer a{
    text-decoration: none;
    color: #161616;
}
.transfer{
    width: 110px;
    height: 30px;
    background-color: white;
    border: 1px solid #161616;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 10px;
}
.match p{
   font-size: 18px;
   margin-left: 10px;
   font-weight: 600;
}
.icons{
    display: flex;
    margin-left: 10px;
}
.icons img{
    position: relative;
    width: 20px;
    top: 5px; 
}
.icon{
    padding: 8px;
 }
 /* ------------------view all button-----------
 ------------------------------------------------ */
.view-button{
    height: 40px ;
    width:120px;
    background: #DD0000;
    border-radius: 5px;
    border: none;
    display: none; 
}
.view-button a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
/*------------------ footer styles-------------
------------------------------------------------ */
.footer{
    width: 1330px;
    height: 400px;
    background: #161616;
}
.footer h1{
    width: 900px;
    color: white;
    text-align: center;
    font-size: 40px;
     padding-top: 70px;
     margin-left: 180px; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    line-height: 3.8;
}
 .footer-info{
    display: flex;
    padding-top: 15px;
    column-gap: 35px;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
.footer-info a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.social-icon{
    margin-left: 590px;
}
.white-icon{
 color: white; 
 font-size: 20px;
 padding: 5px;
}

/*______________________________________2nd website______________________________ */

.six-match-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 850px;
    height: 500px;
    margin-top: 50px;
    margin-left: 20px;
}
.germany-vs-france{
    border: 1px solid rgb(225, 225, 237);
    padding: 20px 30px;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 210px;
    height: 180px;
    box-shadow: 0px 10px 40px rgba(157, 153, 153, 0.15);
}
.two-images{
    display: flex;
    column-gap: 10px;
}
.two-images img{
    width: 100%;
}
.match-time{
    justify-content: center;
    text-align: center;
}
.match-time h3{
    font-size: 22px;
}
#next-red{
    background-color: #ca0000;
}
#next-red a{
    color: white;
}
#reset-white{
    background-color: white;
}
#reset-white a{
    color: black;
}

 /*--------->>>>>media query tablet view style<<<<--------------- */
@media screen and (min-width:689px) and  (max-width:992px){

    /*--------- top section  tablet view-------*/
    .top-div{
        width: 95%;
        margin-right: 1.8%;
        margin-left: 2%;
        height : 350px
    }
    .top-info{
        height: 350px;
        margin-top: 40px;
        margin-left: 10%;
    }
    .top-info h1{
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
    }
    .top-info p{
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
    }
    .top-banner img{
        position: relative;
        right: 60px;
        width: 100%;
        height: 350px;
        margin-top: 0; 
        margin-right: 10px; 
    }
    /* --------live matches section tablet view--- */
    .all-matches{
       flex-direction: column;
       margin-bottom: 13%;
    }
    .matches-option{
        display: flex;
        width: 95%;
        margin-right: 1.8%; 
        margin-left: 2%;
        height: 100px;
        background-color: white;
    }
    .three-button{
        border: 1px solid rgb(195, 189, 189);
    }
    .matches, .six-match-box{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-left: 3%;
        row-gap: 1%;
    }
    .match p{
        font-size: 14px;
     }
     .match{
        width: 90%;
        height: 100%;
    }
    .germany-vs-france{
        width: 70%;
        margin-left: 1%;
        padding: 20px 17px 20px 40px;
    }
    /* -------showing view button to tablet view------ */
    .view-button{
        display: block; 
        margin-left: 46%;
    }
    /* -------footer section tablet view------ */
    .footer{
        width: 100%;
        height: 320px;
    }
    .footer-info{
        margin-left: 9%;
        gap:6%;
        flex-wrap: wrap;
        width: 80%;
        height: 80px; 
    }
    .footer h1{
        width: 85%;
        padding-top: 0;
        margin-left: 7%;
        line-height: 3;
    }
    .social-icon{
        margin-top: 0px;
        margin-left: 44%;
    }
}



/*--------->>>>>media query Mobile view style<<<<--------------- */

@media screen and (max-width:688px){

    /*--------- top section  mobile view-------*/
    .top-div{
        flex-direction: column;
        width: 95%;
        margin-right: 1.8%;
        margin-left: 2%;
        height : 620px
    }
    .top-info{
        width: 50%;
        margin: 5% auto;
        height: 350px;
    }
    .top-info h1{
        text-align: center;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
    }
    .top-info p{
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
    }
    .top-banner img{
        position: relative;
        top: 1.3%;
        left: 17%;
        width: 60%;
        height: 300px;
        margin-top: 0; 
        margin-right: 10px; 
    }
    .live-button{
        margin-left: 4%;
    }
    /* --------live matches section mobile view--- */
    .all-matches{
       flex-direction: column;
       margin-bottom: 35%;
    }
    .matches-option{
        margin-left: 15%;
        background-color: white;
    }
    .three-button{
        border: 1px solid rgb(137, 132, 132);
    }
    .matches, .six-match-box{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-left: 5%;
        row-gap: 0.5%;
    }
    .match p{
        font-size: 18px;
     }
     .match{
        width: 90%;
        height: 100%;
    }
    .germany-vs-france{
        width: 80%;
        margin-left: 1%;
        padding: 20px 17px 20px 40px;
    }
    .two-images{
        margin-left: 20%;
    }
    /* -------footer section mobile view------ */
    .footer{
        width: 100%;
        height: 600px;
    }
    .footer-info{
        flex-direction: column;
        padding-top: 15px;
        row-gap: 35px;
        text-align: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    .footer h1{
        width: 70%;
        padding-top: 0;
        margin-left: 15%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        line-height: 3.8;
    }
    .social-icon{
        margin-left: 42%;
    }
}